rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /recipes/{recipe} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }
  }
}
